.carousel-heading {
    font-weight: 600;
    font-size: 2rem;
    color: rgb(69, 69, 69);
}

.carousel {
    background: rgb(248, 248, 248);
    max-width: 100%;
    padding: 2.5rem 0px;
}

.carousel-items {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    margin-top: 2rem;
}

.carousel-img-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    color: rgb(69, 69, 69);
    font-weight: 600;
    font-size: 20px;
}

.carousel-food-img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 100%;
    margin: 0 auto 1rem;
}